<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/gambar.JPG" class="img-thumbnail rounded-circle" width="200px" alt="Gema">
            <h1 class="display-4">Gema Nadia Ramadhana</h1>
            <p class="lead">No One | Still No One</p>
        </div>
    </div>
</div>